{% form_theme note_form 'bootstrap_5_layout.html.twig'%}
{% extends 'base.html.twig' %}

{% block title %}Hello NoteController!{% endblock %}

{% block body %}

<div class="controller">
    {{form_start(note_form)}}
    {{form_widget(note_form)}}
    <input type="submit" value="submit" class="btn btn-primary" ?>
    {{form_end(note_form)}}
</div>
{% endblock %}
